.bg-agua {
    background-color: #BEF7FC;
}
.text-rosa {
    color: #F764F6;
}
.bg-mar {
    background-color: #FC57D2;
}
.btn-mar {
    background-color: #F850ED;
}
.text-rosa {
    color: #F91CCF;
}
.bg-aguamar {
    background-color: #02C8CB;
}
